html {
  background-color: white;
}

.image {
  width: 1000px;
  height: 1000px;
}

img.screen_shot {
  width: 1000px;
  height: auto
}

header ul, header li {
  display: inline-block;
  font-size: 30px;
  text-align: right;
}

header ul {
  float: right;
  margin-right: 100px;
}

#title {
  border: 1px solid green;
  margin: 0px 80px 0px 80px;
  text-align: right;
  padding: 56px;
}

#sub {
  border: 1px solid green;
  margin: 10px 80px 0px 80px;
  text-align: center;
}

#date {
  border: 1px solid green;
  margin: 10px 80px 0px 80px;
  text-align: right;
}

#text {
  margin: 10px 80px 0px 80px;
  padding: 0px 50px 0px 50px;
  border-right: 1px solid green;
  border-left: 1px solid green;

}
