
body {
  background-image: url("https://icstunna.github.io/alphonsechibi.gif");
  background-size: 100;
  background-repeat: no-repeat;
  background-position: left top;
}

header ul, header li {
  display: inline-block;
  font-size: 30px;
  text-align: right;

}

header ul {
  float: right;
  margin-right: 100px;
}

footer ul, footer li {
  display: inline-block;
  text-align: right;

}

footer ul {
  float: right;
  margin-right: 100px;
}

section {
  margin-left: 300px;
  margin-right: 100px;
  clear: right;

}